
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.dropdown.search {
  position: relative;
  top: -15px;
  margin-left: 16px;
  width: fit-content;
}

.list-hover-arrow{
  cursor: pointer;
}